name: Unit Tests

on:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install PySide6==6.5.1

      - name: Run tests
        run: python -m unittest discover -s tests -p "test_*.py"

      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: Test Results - ${{ matrix.os }}
          path: test-reports

      - name: Set test status
        if: steps.tests.outcome == 'success'
        run: echo "::set-output name=tests-passed::true"